@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title >@ViewData["Title"] HappyTrip</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />



</head>
<body style="background-color:aliceblue">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container">
                <img src="https://img.icons8.com/plasticine/100/undefined/beach-umbrella.png" />
                
                <a class="navbar-brand" style="font-size:x-large" asp-area="" asp-controller="Excursion" asp-action="Index">HappyTrip</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">


                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Voyage" asp-action="Index">Voyage</a>
                        </li>

                        @if (!(User.IsInRole("Admin") || User.IsInRole("Manager")))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="Index">Contact</a>
                            </li>
                        }

                        @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                        {

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Autobus" asp-action="Index">Autobus</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Chauffeur" asp-action="Index">Chauffeur</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Excursion" asp-action="Index">Excursion</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="ListRoles">Roles</a>
                            </li>
                        }

                    </ul>
                    @if (!(User.IsInRole("Admin") || User.IsInRole("Manager")))
                    {
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    }
                        <div class="collapse navbar-collapse" id="collapsibleNavbar">
                            <ul class="navbar-nav ml-auto">
                                @*If the user is signed-in display Logout link*@
                                @if (SignInManager.IsSignedIn(User))
                                {
                                    <li class="nav-item">
                                        <form method="post" asp-controller="account" asp-action="logout">
                                            <button type="submit" style="width:auto"
                                                    class="nav-link btn btn-link py-0">
                                                Logout @User.Identity.Name
                                            </button>
                                        </form>
                                    </li>
                                }
                                else
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="Account" asp-action="Register">
                                            Register
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="Account" asp-action="Login">
                                            Login
                                        </a>
                                    </li>
                                }


                            </ul>
                            <!-- <form class="form-inline my-2 my-lg-0" asp-action="Search" asp-controller="Excursion">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">



                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>

            </form> -->
                        </div>

                    </div>
            </div>

        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - HappyTrip - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/CustomScript.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
