@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color:cadetblue; font-weight:bold">TRIP MANAGEMENT</h1>
    <img src="~/images/1164901-vacances-en-famille-illustration.jpg" width="800" height="600"/>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
